
  <div class="container-fluid" id= "hide-fs">
    <div id="featured-section">
        <div class="container-fluid" id="featured">
        <div class="featured-blog" id="featured-blog"></div>
        <a href"#"><h3><i class="fa fa-heart-o" aria-hidden="true"></i></h3></a>
        <h3>99</h3>
        <a href"#"><h3><i class="fa fa-bookmark-o pull-right" aria-hidden="true"></i></h3></a>
        <h1>Post Title Blog 1</h1>
        <h5><a href="#">Post Author Name</a></h5>
        <h6>Post Date</h6>
      </div>
        <div class=""id="most-liked">
          <ul>
            <li><h1>Most Liked</h1></li>
            <li><a href="#">The Worst Advise We've Ever Heard</a></li>
            <li><a href="#">Think You're Cut Out For Doing Design?</a></li>
            <li><a href="#">How To Solve The Biggest Problems With</a></li>
            <li><a href="#">10 Things Your Competitors Can Teach</a></li>
            <li><a href="#">14 Common Misconceptions About</a></li>
            <li><a href="#">The History Of Design</a></li>
            <li><a href="#">10 Signs You Should Invest In Tech</a></li>
            <li><a href="#">5 Tools Everyone In the Design Industry</a></li>
        </ul>
    </div>
  </div>
 </div>

    <div class="container-fluid">
    <div class="row">
    <div class="container-fluid col-md-4">
      <div class="blog-img " id="blog1">
    </div>
      <a href"#"><h3><i class="fa fa-heart-o" aria-hidden="true"></i></h3></a>
      <h3>456</h3>
      <a href"#"><h3><i class="fa fa-bookmark-o pull-right" aria-hidden="true"></i></h3></a>
      <h1>Post Title Blog 1</h1>
      <h5><a href="#">Post Author Name</a></h5>
      <h6>Post Date</h6>
    </div>

    <div class="container-fluid col-md-4">
      <div class="blog-img " id="blog2">
    </div>
      <a href"#"><h3><i class="fa fa-heart-o" aria-hidden="true"></i></h3></a>
      <h3>367</h3>
      <a href"#"><h3><i class="fa fa-bookmark-o pull-right" aria-hidden="true"></i></h3></a>
      <h1>Post Title Blog 2</h1>
      <h5><a href="#">Post Author Name</a></h5>
      <h6>Post Date</h6>
    </div>

    <div class="container-fluid col-md-4">
      <div class="blog-img responsive-image" id="blog3">
    </div>
      <a href"#"><h3><i class="fa fa-heart-o" aria-hidden="true"></i></h3></a>
      <h3>197</h3>
      <a href"#"><h3><i class="fa fa-bookmark-o pull-right" aria-hidden="true"></i></h3></a>
      <h1>Post Title Blog 3</h1>
      <h5><a href="#">Post Author Name</a></h5>
      <h6>Post Date</h6>
    </div>

    <div class="container-fluid col-md-4">
      <div class="blog-img responsive-image" id="blog4">
    </div>
      <a href"#"><h3><i class="fa fa-heart-o" aria-hidden="true"></i></h3></a>
      <h3>121</h3>
      <a href"#"><h3><i class="fa fa-bookmark-o pull-right" aria-hidden="true"></i></h3></a>
      <h1>Post Title Blog 4</h1>
      <h5><a href="#">Post Author Name</a></h5>
      <h6>Post Date</h6>
    </div>

    <div class="container-fluid col-md-4">
      <div class="blog-img responsive-image" id="blog5">
    </div>
      <a href"#"><h3><i class="fa fa-heart-o" aria-hidden="true"></i></h3></a>
      <h3>68</h3>
      <a href"#"><h3><i class="fa fa-bookmark-o pull-right" aria-hidden="true"></i></h3></a>
      <h1>Post Title Blog 5</h1>
      <h5><a href="#">Post Author Name</a></h5>
      <h6>Post Date</h6>
    </div>

    <div class="container-fluid col-md-4">
      <div class="blog-img responsive-image" id="blog6">
    </div>
      <a href"#"><h3><i class="fa fa-heart-o" aria-hidden="true"></i></h3></a>
      <h3>55</h3>
      <a href"#"><h3><i class="fa fa-bookmark-o pull-right" aria-hidden="true"></i></h3></a>
      <h1>Post Title Blog 6</h1>
      <h5><a href="#">Post Author Name</a></h5>
      <h6>Post Date</h6>
    </div>
  </div>
  </div>

  
